* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table, fieldset,
figure, pre {
	margin-bottom: 24px;
}

ul, ol, dd {
	/*margin-left: 48px;*/
}

html, a {
	color: #444;
}

html {
	/*font: 300 100%/1.5 Ubuntu, sans-serif;*/
	/*font-family: Georgia, serif;*/
	font-family: Montserrat, serif;
	background-color: #fff;
	color: #444;
	min-width: 320px;
}

html,
body {
}

body {
	display: block;
	background: rgba(255, 255, 255, 0);
	margin: 8px;
	padding: 50px;
}

h1 {
	width: 100%;
}

p {
	/*font-family: Georgia, serif;*/
	font-family: 'PT Serif', serif;
	font-size: 80%;
}

.universal-list {
	margin-left: 50px;
	font-family: 'PT Serif', serif;
	font-size: 80%;
}

.skeleton {
	max-width: 900px;
	margin: 10px auto;
}

div {
	display: block;
}

a {
	/*color: #1240AB;*/
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

nav a {
	text-transform: uppercase;
	color: #999;
}

nav li {
	padding: 10px;
}

header {
	text-align: center;
	display: inline-table;
	width: 100%;
}

nav {
	float: right;
	margin: 0;
}

#mobile-menu-links {
	margin-top: 20px;
	display: none;
	background: url("../img/mobile-menu.png") no-repeat -75px;
	width: 75px;
	height: 55px;
}

#mobile-menu-links.active {
	background: url("../img/mobile-menu.png") no-repeat -12px;
}

nav a.active,
nav a:hover {
	text-decoration: none;
	color: black;
}

header ul {
	margin-top: 20px;
}

header ul li {
	list-style: none;
	display: inline-block;
}

header div {
	/*display: inline-block;*/
}

/** LOGO **/
div.logo {
	float: left;
}

a.logo, a.logo:hover, a.logo:visited {
	color: #888;
	border: solid 5px;
	padding: 2px 10px;
	text-transform: lowercase;
	text-decoration: none;
	font: bold 46px Montserrat;
}

/** BODY */
.content {
	border-top: dotted 1px grey;
	border-bottom: dotted 1px grey;
	padding-top: 50px;
	position: relative;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

footer {
	margin: 0 auto;
	max-width: 900px;
	text-align: right;
}

footer a {
	color: #444;
}

/** MOBILE */
@media screen and (max-width: 790px) {

	header {
		margin-bottom: 0;
	}

	div.logo {
		/*padding: 20px;*/
		float: none;
	}

	nav {
		float: none;
		margin: 0;
		padding: 0;
	}
}

@media screen and (max-width: 580px) {
	body {
		padding: 10px;
	}

	header {
		margin-bottom: 50px;
	}

	nav {
		margin: 0;
		display: none;
	}

	#mobile-menu-links {
		display: inline-block;
	}

	nav ul li {
		display: block;
	}
}

@media screen and ( max-width: 585px ) {
	a.logo, a.logo:hover, a.logo:visited {
		font-size: 200%;
	}
}