* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table, fieldset,
figure, pre {
	margin-bottom: 24px;
}

ul, ol, dd {
	/*margin-left: 48px;*/
}

html, a {
	color: #444;
}

html {
	/*font: 300 100%/1.5 Ubuntu, sans-serif;*/
	/*font-family: Georgia, serif;*/
	font-family: Montserrat, serif;
	background-color: #fff;
	color: #444;
	min-width: 320px;
}

html,
body {
}

body {
	display: block;
	background: rgba(255, 255, 255, 0);
	margin: 8px;
	padding: 50px;
}

.skeleton {
	max-width: 900px;
	margin: 10px auto;
}

div {
	display: block;
}

a {
	/*color: #1240AB;*/
	text-decoration: none;
}

nav a {
	text-transform: uppercase;
	color: #999;
}

nav li {
	padding: 10px;
}

header {
	text-align: center;
	display: inline-table;
	width: 100%;
}

nav.menu {
	float: right;
	margin: 0;
}

nav a.active,
nav a:hover {
	text-decoration: none;
	color: black;
}

header ul {
	margin-top: 20px;
}

header ul li {
	list-style: none;
	display: inline-block;
}

header div {
	/*display: inline-block;*/
}

/** LOGO **/
div.logo {
	float: left;
	display: inline-block;
}

a.logo, a.logo:hover, a.logo:visited {
	color: #888;
	border: solid 5px;
	padding: 2px 10px;
	text-transform: lowercase;
	text-decoration: none;
	font: bold 46px Montserrat;
}

/** BODY */
.content {
	border-top: dotted 1px grey;
	border-bottom: dotted 1px grey;
	padding-top: 50px;
	position: relative;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/** PROJECT */
.project {
	width: 30%; /* 3 items per row */
	float: left;
	margin: 0 14px 50px 14px;
	overflow: hidden;
	height: auto;
	position: relative;

	/*box-shadow: #000 0 0 1px;*/
}

.project .text {
}

.project h2 {
	text-align: center;
	font-size: 110%;
	padding-top: 5px;
	color: black;
	margin: 5px;
}

.project p {
	padding: 20px;
	font-family: Georgia, serif;
	font-size: 80%;

	background: #eeeeee;
	/*height: 100%;*/
	margin: 0;
	border: dashed 1px #888;
	/*margin-top: 5px;*/
}

.project:hover {
}

.project img {
	width: 100%;
	height: auto;
}

.project-image {
	/*overflow: hidden;*/
	width: 100%;
	/*height: 100px;*/
}

.intrinsic {
	/*overflow: hidden;*/
	/*position: absolute;*/
}

footer {
	margin: 0 auto;
	max-width: 900px;
	text-align: right;
}

footer a {
	color: #444;
}

/** MOBILE */
@media screen and (max-width: 780px) {

	header {
		margin-bottom: 0;
	}

	div.logo {
		/*padding: 20px;*/
		float: none;
	}

	nav.menu {
		float: none;
		margin: 0;
		padding: 0;
	}
}

@media screen and (max-width: 580px) {
	header {
		margin-bottom: 50px;
	}

	nav.menu {
		display: none;
	}
}

@media screen and ( max-width: 955px ) {

	.project {
		width: 46%; /* 2 items per row */
	}
}

@media screen and ( max-width: 815px ) {
	.project {
		width: 44%; /* 1 items per row */
	}
}

@media screen and ( max-width: 585px ) {
	.project {
		width: 93%; /* 1 items per row */
		float: none;
	}
}