/** BASE */
html, body {
	margin: 0;
	padding: 0;
}

nav {
	display: none;
}

div.logo {
	float: none;
}

.content {
	border: none;
}
.skeleton {
	margin: 5px auto 0 auto;
}

/** WORK */
.project {
	margin: 0 10px 10px 10px;
}

/** ABOUT */
.bio-image {
	margin: 0 auto;
}

.bio {
	width: 100%;
	margin-top: 20px;
}

/** CONTACT **/
.google-maps {
	display: none;
	/*height: 100%;*/
}

/** BLOG */

/** ARTICLE */